body{
  background-color: blue;
}

.App{
  background-color: #3f3160;
  min-height: 600px;
  width:400px;
  margin: 40px auto;
} 



#to-do-form input{
  background-color: rgb(27,112,137);
  border:0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

#to-do-form input::placeholder{
  color:rgba(255,255,255,0.5); 
}


#to-do-form input:focus {
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
 border:0;
 background-color: coral;
 cursor: pointer; 
 font-weight: bolder;
 color: black
}